extends layout

block main
  section#meals
    header
      h2 Editing "#{meal.name}"
   

  form(action=`/meals/${meal.id}/edit` method="post")
    dl
      dt
        label(for="mealName") Enter the new meal name:
      dd
        input(type="text"
              name="mealName"
              placeholder="Meal Name"
              value=mealName || meal.name)
    fieldset.actions
      input(type="submit" value="Save")
      a(href=`/meals/${meal.id}`) Cancel